CONFIG_IDF_TARGET="esp32c6"

# WiFi
CONFIG_ENABLE_WIFI_STATION=y
CONFIG_ESP_WIFI_SOFTAP_SUPPORT=n

# IPv6 — autoconfig on for WiFi, hooks needed for Matter
CONFIG_LWIP_IPV6_AUTOCONFIG=y
CONFIG_LWIP_HOOK_IP6_ROUTE_DEFAULT=y
CONFIG_LWIP_HOOK_ND6_GET_GW_DEFAULT=y
CONFIG_LWIP_IPV6_NUM_ADDRESSES=6

# Partition table
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0xC000

CONFIG_VOLET_TRANSPORT_WIFI=y