menu "Volet Roulant Transport"

    choice VOLET_TRANSPORT
        prompt "Matter transport"
        default VOLET_TRANSPORT_WIFI
        help
            Select the network transport for Matter.
            This is controlled at build time via SDKCONFIG_DEFAULTS.

        config VOLET_TRANSPORT_WIFI
            bool "WiFi"

        config VOLET_TRANSPORT_THREAD
            bool "Thread"

    endchoice

endmenu